In [47]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split

# path

In [4]:
data_folder = "/home/subblue-3/nextGen/data/attitude_estimation_in_lab_20250820/"

# load data

In [9]:
df_roll_all = pd.read_excel(data_folder + "5_roll_high_corr__all_data.xlsx")
df_roll_all.shape

(150, 6)

In [10]:
df_roll_all

,roll_true,pole_left_x,touch_line_total_length,diameter_pnt1_x,touch_line_direct_distance,max_contour_area
0,-22.920000,207.000000,455.000000,276.000000,410.000000,75981.000000
1,-22.718238,211.066424,476.076254,264.781268,425.153418,75122.303471
2,-22.491896,214.560979,493.821857,256.324220,438.260916,74550.668289
3,-22.240975,217.483665,508.236810,250.628856,449.322496,74266.094453
4,-21.965474,219.834481,519.321112,247.695178,458.338156,74268.581963
...,...,...,...,...,...,...
145,19.790767,326.227306,1040.785810,463.953938,497.988575,56565.896702
146,19.822843,329.785984,1039.176706,457.558744,497.212383,56158.438635
147,19.863408,334.934325,1036.342703,448.601356,495.955557,55588.469828
148,19.912460,341.672331,1032.283801,437.081775,494.218096,54855.990284
149,19.970000,350.000000,1027.000000,423.000000,492.000000,53961.000000

In [11]:
df_pitch_all = pd.read_excel(data_folder + "5_pitch_high_corr__all_data.xlsx")
df_pitch_all.shape

(150, 12)

In [12]:
df_pitch_all

,pitch_true,touch_line_bottommost_point_x,diameter_pnt1_y,pole_orientation_lr,diameter_orientation,pole_left_y,touch_line_bottommost_point_y,pole_orientation_tb,touch_line_topmost_point_x,pole_bottom_y,pole_top_y,touch_line_topmost_point_y
0,-25.970000,495.000000,207.000000,35.830000,67.420000,308.000000,603.000000,82.090000,376.000000,647.000000,201.000000,210.000000
1,-25.533737,489.865681,225.456261,39.046602,65.127535,305.548861,616.470596,83.683888,370.799322,655.043053,201.375609,207.154749
2,-25.114080,485.094780,239.113855,41.276675,63.390034,302.430798,629.160001,84.992923,367.657557,662.842781,202.287360,205.525780
3,-24.711028,480.687296,247.972781,42.520219,62.207495,298.645812,641.068213,86.017103,366.574704,670.399186,203.735252,205.113091
4,-24.324580,476.643229,252.033040,42.777235,61.579920,294.193902,652.195232,86.756428,367.550764,677.712266,205.719287,205.916683
...,...,...,...,...,...,...,...,...,...,...,...,...
145,23.993497,386.559124,438.162759,161.938495,100.125314,677.395507,821.150230,100.090432,472.797597,821.012233,329.079267,329.079265
146,24.240375,390.732983,508.042675,163.585773,99.583395,669.365042,817.696397,99.531175,472.362780,817.327214,325.748268,325.748266
147,24.482084,398.197749,588.975520,161.616783,98.510203,650.288970,810.353414,98.439684,470.584908,809.930169,318.624724,318.624722
148,24.718626,408.953421,680.961295,156.031526,96.905738,620.167289,799.121281,96.815959,467.463981,798.821098,307.708635,307.708633
149,24.950000,423.000000,784.000000,146.830000,94.770000,579.000000,784.000000,94.660000,463.000000,784.000000,293.000000,293.000000

# 'true' value (int), others round(2)

In [30]:
df_roll_all_temp = df_roll_all.copy()

for col in df_roll_all_temp.columns:
    if col == 'roll_true':
        df_roll_all_temp[col] = df_roll_all_temp[col].round(2)
    else:
        df_roll_all_temp[col] = df_roll_all_temp[col].astype(int)
        
df_roll_all_temp

,roll_true,pole_left_x,touch_line_total_length,diameter_pnt1_x,touch_line_direct_distance,max_contour_area
0,-22.92,207,455,276,410,75981
1,-22.72,211,476,264,425,75122
2,-22.49,214,493,256,438,74550
3,-22.24,217,508,250,449,74266
4,-21.97,219,519,247,458,74268
...,...,...,...,...,...,...
145,19.79,326,1040,463,497,56565
146,19.82,329,1039,457,497,56158
147,19.86,334,1036,448,495,55588
148,19.91,341,1032,437,494,54855
149,19.97,350,1027,423,492,53961

In [31]:
df_roll_all = df_roll_all_temp

In [32]:
df_pitch_all_temp = df_pitch_all.copy()

for col in df_pitch_all_temp.columns:
    if col == 'pitch_true':
        df_pitch_all_temp[col] = df_pitch_all_temp[col].round(2)
    else:
        df_pitch_all_temp[col] = df_pitch_all_temp[col].astype(int)
        
df_pitch_all_temp

,pitch_true,touch_line_bottommost_point_x,diameter_pnt1_y,pole_orientation_lr,diameter_orientation,pole_left_y,touch_line_bottommost_point_y,pole_orientation_tb,touch_line_topmost_point_x,pole_bottom_y,pole_top_y,touch_line_topmost_point_y
0,-25.97,495,207,35,67,308,603,82,376,647,201,210
1,-25.53,489,225,39,65,305,616,83,370,655,201,207
2,-25.11,485,239,41,63,302,629,84,367,662,202,205
3,-24.71,480,247,42,62,298,641,86,366,670,203,205
4,-24.32,476,252,42,61,294,652,86,367,677,205,205
...,...,...,...,...,...,...,...,...,...,...,...,...
145,23.99,386,438,161,100,677,821,100,472,821,329,329
146,24.24,390,508,163,99,669,817,99,472,817,325,325
147,24.48,398,588,161,98,650,810,98,470,809,318,318
148,24.72,408,680,156,96,620,799,96,467,798,307,307
149,24.95,423,784,146,94,579,784,94,463,784,293,293

In [33]:
df_pitch_all = df_pitch_all_temp

# split dataset for train, val, test

## X, y

In [34]:
# Set random seed for reproducibility
np.random.seed(42)

In [35]:
X_roll = df_roll_all.iloc[:, 1:]
y_roll = df_roll_all.iloc[:, 0]

X_pitch = df_pitch_all.iloc[:, 1:]
y_pitch = df_pitch_all.iloc[:, 0]

In [36]:
X_roll

,pole_left_x,touch_line_total_length,diameter_pnt1_x,touch_line_direct_distance,max_contour_area
0,207,455,276,410,75981
1,211,476,264,425,75122
2,214,493,256,438,74550
3,217,508,250,449,74266
4,219,519,247,458,74268
...,...,...,...,...,...
145,326,1040,463,497,56565
146,329,1039,457,497,56158
147,334,1036,448,495,55588
148,341,1032,437,494,54855
149,350,1027,423,492,53961

## 80% train+val, 20% test

In [37]:
X_roll_temp, X_roll_test, y_roll_temp, y_roll_test = train_test_split(X_roll, y_roll, test_size=0.2, random_state=42, shuffle=True)

X_roll_test.shape, y_roll_test.shape, X_roll_temp.shape, y_roll_temp.shape

((30, 5), (30,), (120, 5), (120,))

In [38]:
X_roll_test

,pole_left_x,touch_line_total_length,diameter_pnt1_x,touch_line_direct_distance,max_contour_area
73,274,493,397,476,71243
18,241,467,349,435,79204
118,272,1020,390,489,65458
78,275,529,418,481,70348
76,279,528,419,481,70618
31,233,453,293,422,74354
64,225,953,333,482,75763
141,327,1034,463,496,56570
68,246,529,333,464,73162
82,264,490,403,474,72912
110,308,1038,424,496,67327
12,223,501,310,462,82118
36,220,465,285,426,76195
9,223,524,274,472,78586
19,242,467,344,431,78036
56,277,469,360,430,63961
104,294,1009,424,484,68032
69,252,476,340,463,72613
55,278,426,366,433,64479
132,321,1028,402,485,58487
29,233,463,285,423,73046
127,300,1023,346,474,58151
26,231,486,270,425,71304
128,303,1026,360,477,58722
131,316,1029,393,483,58938
145,326,1040,463,497,56565
108,306,1025,431,490,67529
143,323,1040,469,498,56893
45,241,503,373,461,77769
30,233,456,290,423,73743

In [39]:
X_pitch_temp, X_pitch_test, y_pitch_temp, y_pitch_test = train_test_split(X_pitch, y_pitch, test_size=0.2, random_state=42, shuffle=True)

X_pitch_test.shape, y_pitch_test.shape, X_pitch_temp.shape, y_pitch_temp.shape

((30, 11), (30,), (120, 11), (120,))

## 85% train, 15% val

In [40]:
X_roll_train, X_roll_val, y_roll_train, y_roll_val = train_test_split(X_roll_temp, y_roll_temp, test_size=0.15, random_state=42, shuffle=True)

X_roll_train.shape, X_roll_val.shape, y_roll_train.shape, y_roll_val.shape

((102, 5), (18, 5), (102,), (18,))

In [41]:
X_pitch_train, X_pitch_val, y_pitch_train, y_pitch_val = train_test_split(X_pitch_temp, y_pitch_temp, test_size=0.15, random_state=42, shuffle=True)

X_pitch_train.shape, X_pitch_val.shape, y_pitch_train.shape, y_pitch_val.shape

((102, 11), (18, 11), (102,), (18,))

## create df

In [44]:
df_roll_train = pd.concat((y_roll_train, X_roll_train), axis=1)
df_roll_val = pd.concat((y_roll_val, X_roll_val), axis=1)
df_roll_test = pd.concat((y_roll_test, X_roll_test), axis=1)

df_roll_train.shape, df_roll_val.shape, df_roll_test.shape

((102, 6), (18, 6), (30, 6))

In [45]:
df_pitch_train = pd.concat((y_pitch_train, X_pitch_train), axis=1)
df_pitch_val = pd.concat((y_pitch_val, X_pitch_val), axis=1)
df_pitch_test = pd.concat((y_pitch_test, X_pitch_test), axis=1)

df_pitch_train.shape, df_pitch_val.shape, df_pitch_test.shape

((102, 12), (18, 12), (30, 12))

## save

In [46]:
df_roll_train.to_excel(data_folder + "6_roll__train.xlsx", index=False)
df_roll_val.to_excel(data_folder + "6_roll__val.xlsx", index=False)
df_roll_test.to_excel(data_folder + "6_roll__test.xlsx", index=False)

df_pitch_train.to_excel(data_folder + "6_pitch__train.xlsx", index=False)
df_pitch_val.to_excel(data_folder + "6_pitch__val.xlsx", index=False)
df_pitch_test.to_excel(data_folder + "6_pitch__test.xlsx", index=False)

# end